In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

import wrangle

# Analysis
Anonymize the IP addresses (added function to wrangle.py), then answer the following questions:
1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
    1. PHP: **content/html-css** (262)
    2. Java: **javascript-i/introduction/working-with-data-types-operators-and-variables** (7094)
    3. DS: **classification/overview** (1785)
    4. Front End: **content/html-css**
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
    - **Voyageurs: java-i/introduction-to-java** (447) - 3x the average - 22% higher than next cohort
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
    - **Yes**; PHP and Java students make up nearly all of bottom 100
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
    1. Unauthorized access: **No**, all events have associated user id
    2. Web scraping: **Probably**, there's lots of .html, .json, and .php requests
    3. Suspicious IP addresses: **I'd say no**, all events have associated user id
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
    1. Cross-Access: **Yes**, A user from Teddy (Java) accessed the DS Classification module twice in 2020
    2. Happen Before: **I don't know, the first DS cohort was mid-2019 and the ability changed in 2019**
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
    - Nearly all of top-referenced lessons are in the **Fundamentals module**
7. Which lessons are least accessed?
    - There are a lot of paths that seem to be lessons but only have one request- are they deprecated? I don't feel confident choosing any.
8. Anything else I should be aware of?
    - If you're focused on reducing student reference to the curriculum, let me know, I can look into that further.
    - If you're focused on identifying potential unauthorized access to the curriculum, let me know, I can look into that further.

In [2]:
# import wrangled data
df_original = wrangle.wrangle_cohorts()

In [3]:
df = df_original.copy()
df.head(3)

,date,time,path,user_id,ip,cohort,start_date,end_date,program_id,program_name,subdomain
datetime,,,,,,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,PHP Full Stack Web Development,php
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,PHP Full Stack Web Development,php
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,PHP Full Stack Web Development,php

# Which lesson appears to attract the most traffic consistently across cohorts (per program)?
1. PHP: content/html-css (262)
2. Java: javascript-i/introduction/working-with-data-types-operators-and-variables (7094)
3. DS: classification/overview (1785)
4. Front End: content/html-css

In [4]:
# make path column make sense
df = wrangle.lesson_identification(df) # bool column for identified lessons / non-lessons
df = wrangle.html_php_requests(df) # bool columns for html and php requests
df = wrangle.alter_paths(df) # add column for paths without the .html or .php suffix
df[['path','is_lesson','html_request','php_request','alter_path']].sample(3, random_state=123)

,path,is_lesson,html_request,php_request,alter_path
datetime,,,,,
2020-03-30 16:13:15,/,False,False,False,/
2019-04-15 09:37:17,examples/javascript/defuse-the-bom.html,False,True,False,examples/javascript/defuse-the-bom
2019-10-15 10:42:24,mysql/clauses/order-by,True,False,False,mysql/clauses/order-by

In [5]:
# check top traffic lesson in each program
for program in df.subdomain.unique():
    print(program)
    print(df[df.is_lesson & (df.subdomain == program)].alter_path.value_counts().head(1))

php
content/html-css    262
Name: alter_path, dtype: int64
java
javascript-i/introduction/working-with-data-types-operators-and-variables    7094
Name: alter_path, dtype: int64
fe
content/html-css    2
Name: alter_path, dtype: int64
ds
classification/overview    1785
Name: alter_path, dtype: int64

# Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
- Voyageurs: java-i/introduction-to-java (447) - 3x the average - 22% higher than next cohort

In [6]:
for cohort in df[df.subdomain == 'java'].cohort.unique():
    print(cohort)
    print(df[(df['cohort'] == cohort) & df.is_lesson]\
          .alter_path.value_counts().head(1))

Teddy
mysql/tables    387
Name: alter_path, dtype: int64
Sequoia
spring/fundamentals/views    207
Name: alter_path, dtype: int64
Niagara
spring/setup    13
Name: alter_path, dtype: int64
Pinnacles
javascript-ii/npm    51
Name: alter_path, dtype: int64
Mammoth
spring/fundamentals/controllers    12
Name: alter_path, dtype: int64
Ulysses
spring/fundamentals/form-model-binding    357
Name: alter_path, dtype: int64
Voyageurs
java-i/introduction-to-java    447
Name: alter_path, dtype: int64
Wrangell
html-css/css-ii/bootstrap-grid-system    313
Name: alter_path, dtype: int64
Xanadu
html-css/elements    438
Name: alter_path, dtype: int64
Yosemite
javascript-ii/map-filter-reduce    299
Name: alter_path, dtype: int64
Staff
jquery/ajax/weather-map    1050
Name: alter_path, dtype: int64
Zion
spring/fundamentals/repositories    427
Name: alter_path, dtype: int64
Andromeda
mysql/tables    318
Name: alter_path, dtype: int64
Betelgeuse
html-css/elements    495
Name: alter_path, dtype: int64
Ceres
html-css/css-i/flexbox/flexbox-fundamentals    471
Name: alter_path, dtype: int64
Deimos
mysql/tables    381
Name: alter_path, dtype: int64
Europa
html-css/elements    430
Name: alter_path, dtype: int64
Fortuna
java-iii/servlets    429
Name: alter_path, dtype: int64
Apex
java-i/syntax-types-and-variables    368
Name: alter_path, dtype: int64
Ganymede
java-iii/servlets    338
Name: alter_path, dtype: int64
Hyperion
html-css/css-i/selectors-and-properties    393
Name: alter_path, dtype: int64
Bash
javascript-i/introduction    256
Name: alter_path, dtype: int64
Jupiter
mysql/tables    439
Name: alter_path, dtype: int64
Kalypso
javascript-i/bom-and-dom/dom    358
Name: alter_path, dtype: int64
Luna
javascript-i/introduction/working-with-data-types-operators-and-variables    315
Name: alter_path, dtype: int64
Marco
javascript-i/introduction/working-with-data-types-operators-and-variables    505
Name: alter_path, dtype: int64
Neptune
javascript-i/introduction/working-with-data-types-operators-and-variables    329
Name: alter_path, dtype: int64
Oberon
javascript-i/introduction/operators    179
Name: alter_path, dtype: int64

In [7]:
df[df.alter_path == 'java-i/introduction-to-java']\
.groupby('cohort').alter_path.count().sort_values().mean()

# 447 (Voyageur's access count) / 154 (mean) is roughly 3

153.85714285714286

# Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
- Yes; PHP and Java students make up nearly all of bottom 100

In [8]:
low_access = list(df.user_id.value_counts().tail(100).index) # identify lowest 30 active
for user in low_access:
    print(df[df.user_id == user].subdomain.unique())

['php']
['java']
['java']
['php']
['java']
['php']
['java']
['java']
['php']
['java']
['java']
['php']
['php']
['php']
['php']
['java']
['java']
['java']
['java']
['java']
['java']
['php']
['php']
['java']
['java']
['ds']
['ds']
['java']
['php']
['php']
['php']
['ds']
['java']
['php']
['java']
['php']
['php']
['php']
['ds']
['java']
['java']
['java']
['java']
['java']
['php']
['php']
['php']
['ds']
['php']
['java']
['php']
['java']
['java']
['php']
['php']
['ds']
['java']
['php']
['php']
['java']
['php']
['php']
['php']
['java']
['java']
['java']
['java']
['java']
['java']
['php']
['php']
['php']
['fe']
['php']
['java']
['java']
['php']
['php']
['java']
['php']
['php']
['java']
['java']
['java']
['php']
['java']
['java']
['php']
['php']
['java']
['java']
['php']
['java']
['java']
['php']
['php']
['java']
['java']
['java']
['php']

# Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
1. Unauthorized access: No, all events have associated user id
2. Web scraping: Lots of .html, .json, and .php requests, so probably
3. Suspicious IP addresses: All events have associated user id, I'd say no

In [9]:
df.user_id.unique() # all entries have associated user id, so no unauthorized access events logged
# df.groupby('user_id').path.count().sort_values(ascending=False).head(15)

array([  1,  11,  37,  50,  51,  53,  60,  64,  66,  68,  69,  70,  71,
        75,  77,  80,  82,  85,  87,  90,  92,  93,  94,  95,  96,  98,
       101, 102, 105, 106, 109, 112, 113, 114, 139, 140, 141, 144, 146,
       147, 148, 149, 150, 151, 156, 161, 163, 167, 168, 169, 170, 173,
       174, 177,  88, 209, 210, 118, 211, 212, 214, 241, 242, 245, 246,
       248, 257, 279, 280, 281, 283, 311, 312, 313, 314, 316, 318, 348,
       396, 398, 399, 402, 405, 428, 462, 463, 465, 486, 513, 419, 593,
       610, 646, 647, 649, 740, 852, 952,   2,   3,   4,   5,   6,   7,
         8,   9,  10,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,
        22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,
        35,  36,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  49,
        52,  55,  56,  57,  65,  67,  72,  76,  81,  83,  84,  91,  97,
        99, 104, 107, 108, 110, 115, 116, 117, 119, 120, 121, 122, 123,
       124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136,
       138, 142, 143, 145, 153, 154, 155, 157, 158, 159, 160, 162, 164,
       165, 171, 172, 175, 178, 179, 180, 181, 182, 183, 184, 185, 186,
       187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199,
       200, 201, 202, 203, 204, 205, 206, 207, 208, 215, 216, 217, 218,
       219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231,
       232, 233, 234, 235, 236, 237, 238, 239, 240, 243, 244, 249, 250,
       251, 252, 253, 254, 255, 256, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 282, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294,
       295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307,
       308, 309, 310, 315, 319, 320, 321, 322, 323, 324, 325, 326, 327,
       328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340,
       341, 342, 343, 344, 345, 346, 347, 370, 371, 373, 374, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 375, 397, 400, 401, 404, 407, 408, 409,
       410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 421, 422, 423,
       424, 425, 426, 427, 430, 431, 432, 433, 434, 435, 436, 437, 438,
       439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451,
       452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 464, 488, 489,
       490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502,
       503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 514, 515, 516,
       517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529,
       530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542,
       543, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556,
       557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569,
       570, 571, 572, 573, 574, 592, 594, 595, 596, 597, 598, 599, 600,
       601, 602, 603, 604, 605, 606, 607, 608, 609, 611, 612, 613, 614,
       615, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629,
       630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642,
       643, 644, 645, 648, 651, 652, 653, 654, 655, 656, 657, 658, 659,
       660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672,
       673, 674, 675, 676, 677, 480, 700, 701, 702, 703, 704, 705, 706,
       707, 708, 709, 710, 711, 712, 730, 732, 733, 734, 735, 737, 738,
       741, 742, 743, 745, 747, 748, 749, 750, 751, 752, 753, 754, 755,
       756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768,
       769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 784, 786,
       788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800,
       801, 802, 803, 804, 805, 806, 807, 808, 809, 811, 812, 813, 816,
       817, 581, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828,
       829, 830, 831, 832, 833, 834, 850, 853, 854, 855, 856, 857, 858,
       744, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871,
       872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884,
       885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 915, 916,
       917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929,
       930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942,
       943, 944, 945, 946, 947, 948, 950, 951, 953, 954, 955, 956, 957,
       958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970,
       971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 152, 466,
       467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479,
       481, 482, 483, 484, 485, 358, 487, 575, 576, 577, 578, 579, 580,
       582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 616, 617, 650,
       678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690,
       691, 692, 693, 694, 695, 696, 697, 698, 699, 739, 746, 780, 781,
       783, 785, 787, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 851, 859, 896, 897, 898, 899, 900, 901,
       902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914,
       949])

# At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
1. Yes, A user from Teddy (Java) accessed the DS Classification module twice in 2020
2. I don't know, the first DS cohort was mid-2019 and the ability changed in 2019

In [10]:
# create new dataframe for java cohorts in 2020
df_2020_java = df[(df.index.year == 2020) & (df.subdomain == 'java')]
# check if java cohorts in 2020 accessed the DS classification module
df_2020_java[df_2020_java.path.str.contains('classification')].cohort.value_counts()

Staff    1592
Teddy       2
Name: cohort, dtype: int64

In [11]:
# create a mask to oust the cross-access
mask = df_2020_java.path.str.contains('classification') & (df_2020_java.cohort == 'Teddy')
# check
df_2020_java[mask]

,date,time,path,user_id,ip,cohort,start_date,end_date,program_id,program_name,subdomain,is_lesson,html_request,php_request,alter_path
datetime,,,,,,,,,,,,,,,
2020-11-10 10:14:29,2020-11-10,10:14:29,classification/overview,20,104.190.242.242,Teddy,2018-01-08,2018-05-17,2,Java Full Stack Web Development,java,True,False,False,classification/overview
2020-11-10 10:14:29,2020-11-10,10:14:29,classification/scale_features_or_not.svg,20,104.190.242.242,Teddy,2018-01-08,2018-05-17,2,Java Full Stack Web Development,java,False,False,False,classification/scale_features_or_not.svg

# What topics are grads continuing to reference after graduation and into their jobs (for each program)?
- Nearly all of top-referenced lessons are in the Fundamentals module

In [12]:
# by cohort
for cohort in df.cohort.unique():
    # get end date
    grad_date = df[df.cohort == cohort].end_date.unique()[0]
    # create mask for post-grad lesson access for the cohort
    mask = (df.cohort == cohort) & (df.date > df.end_date) & df.is_lesson
    # add all post-grad path requests to list
    cohort_access_list = df[mask].alter_path.to_list()
    # make a dataframe for all post-grad queries
    grad_df = pd.DataFrame({cohort:cohort_access_list})
    # check most-queried
    highest_row = grad_df.value_counts().head(1)
    # print most-queried (still by cohort)
    print(highest_row)

Hampton
java-iii/servlets    30
dtype: int64
Arches
spring/fundamentals/views    98
dtype: int64
Quincy
content/laravel/intro    38
dtype: int64
Kings
content/laravel/intro    83
dtype: int64
Lassen
spring/fundamentals/repositories    115
dtype: int64
Glacier
content/html-css    29
dtype: int64
Denali
prework/databases    1
dtype: int64
Joshua
content/html-css    19
dtype: int64
Olympic
java-i/methods    69
dtype: int64
Badlands
content/php_ii/command-line    6
dtype: int64
Ike
html-css/elements    11
dtype: int64
Franklin
javascript-ii/es6    10
dtype: int64
Series([], dtype: int64)
Teddy
spring/setup    87
dtype: int64
Sequoia
spring/fundamentals/views    85
dtype: int64
Niagara
spring/setup    13
dtype: int64
Pinnacles
javascript-ii/npm    51
dtype: int64
Mammoth
spring/fundamentals/controllers    12
dtype: int64
Ulysses
spring/fundamentals/controllers    92
dtype: int64
Voyageurs
spring/setup    77
dtype: int64
Wrangell
spring/setup    37
dtype: int64
Xanadu
html-css/elements    86
dtype: int64
Yosemite
spring/fundamentals/controllers    30
dtype: int64
Staff
jquery/ajax/weather-map    1050
dtype: int64
Zion
spring/fundamentals/controllers    93
dtype: int64
Andromeda
spring/fundamentals/repositories    93
dtype: int64
Betelgeuse
java-iii/user-input    92
dtype: int64
Ceres
java-ii/object-oriented-programming    75
dtype: int64
Deimos
javascript-i/bom-and-dom/dom    104
dtype: int64
Europa
html-css/css-i/selectors-and-properties    47
dtype: int64
Fortuna
spring/fundamentals/controllers    61
dtype: int64
Apex
java-ii/object-oriented-programming    74
dtype: int64
Ganymede
spring/fundamentals/views    60
dtype: int64
Hyperion
spring/setup    31
dtype: int64
Bash
spring/fundamentals/repositories    51
dtype: int64
Jupiter
spring/setup    16
dtype: int64
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Apollo
content/html-css    2
dtype: int64
Bayes
1-fundamentals/1.1-intro-to-data-science    114
dtype: int64
Curie
classification/overview    136
dtype: int64
Darden
sql/mysql-overview    123
dtype: int64
Series([], dtype: int64)
Series([], dtype: int64)

# Which lessons are least accessed?
1. There are a lot of paths that seem to be lessons but only have one request- are they deprecated? I don't feel confident choosing any.

In [13]:
# check lowest 50 accessed paths
df[df.is_lesson].groupby('subdomain').alter_path.value_counts().tail(50)

subdomain  alter_path
php        appendix/postwork/trains                                  1
           cohorts/24/capstone-all                                   1
           cohorts/24/grades                                         1
           content/appendix/code-standards/html-css                  1
           content/appendix/javascript/functions/controllers         1
           content/appendix/javascript/functions/models              1
           content/appendix/javascript/functions/scope               1
           content/appendix/javascript/functions/templating          1
           content/appendix/javascript/javascript/functions/scope    1
           content/appendix/postwork/mars-rover                      1
           content/appendix/postwork/sales-tax                       1
           content/appendix/postwork/trains                          1
           content/conditionals                                      1
           content/git/index                                         1
           content/html-css/elements-i/lists                         1
           content/html-css/forms-i/index                            1
           content/javascript-with-html                              1
           content/javascript/arrays/arrays                          1
           content/jquery/effects/animate                            1
           content/jquery/essential-methods/traversing               1
           content/jquery/events                                     1
           content/jquery/events/keyboard-events                     1
           content/jquery/events/mouse-events                        1
           content/loops                                             1
           content/mysql/clauses/order-by                            1
           content/mysql/intro-to-mysql/index                        1
           content/mysql/relationships/indexes                       1
           content/php_iii/alternative-syntax                        1
           git/intellij                                              1
           html-css/bootstrap-grid-system                            1
           html-css/media-queries                                    1
           html/forms                                                1
           java-i/loops                                              1
           java-ii/file-op                                           1
           javascript-ii/promisesdfghjkjhgfs                         1
           mysql/intro-jdbc                                          1
           mysql/jdbc-statements                                     1
           prework/cli/07-editing-files-with-vim                     1
           prework/fundamentals/function                             1
           prework/fundamentals/if-statement                         1
           prework/fundamentals/loop                                 1
           slides/coding_best_practices                              1
           slides/exceptions                                         1
           slides/threads                                            1
           spring/fundamentals/integration-tests                     1
           spring/security                                           1
           student/create                                            1
           students/468/notes                                        1
           students/units/75/sub_units/268                           1
           teams/13                                                  1
Name: alter_path, dtype: int64

# Anything else I should be aware of?
- If you're focused on reducing student reference to the curriculum, let me know, I can look into that further.
- If you're focused on identifying potential unauthorized access to the curriculum, let me know, I can look into that further.