In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

import wrangle

# Analysis
Anonymize the IP addresses (added function to wrangle.py), then answer the following questions:
1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
    * added function that appends program information (PHP, Java, DS, Front End) to query
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
7. Which lessons are least accessed?
8. Anything else I should be aware of?

In [2]:
# import wrangled data
df_original = wrangle.wrangle_cohorts()

In [3]:
df = df_original.copy()
df.head()

,date,time,path,user_id,ip,cohort,start_date,end_date,program_id,program_name,subdomain
datetime,,,,,,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,PHP Full Stack Web Development,php
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,PHP Full Stack Web Development,php
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,PHP Full Stack Web Development,php
2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,PHP Full Stack Web Development,php
2018-01-26 10:14:47,2018-01-26,10:14:47,/,11,97.105.19.61,Arches,2014-02-04,2014-04-22,1,PHP Full Stack Web Development,php

# Which lesson appears to attract the most traffic consistently across cohorts (per program)?
1. PHP: content/html-css (262)
2. Java: javascript-i/introduction/working-with-data-types-operators-and-variables (7094)
3. DS: classification/overview (1785)
4. Front End: content/html-css

In [4]:
# make path column make sense
df = wrangle.lesson_identification(df) # bool column for identified lessons / non-lessons
df = wrangle.html_php_requests(df) # bool columns for html and php requests
df = wrangle.alter_paths(df) # add column for paths without the .html or .php suffix
df[['path','is_lesson','html_request','php_request','alter_path']].sample(3, random_state=123)

,path,is_lesson,html_request,php_request,alter_path
datetime,,,,,
2020-03-30 16:13:15,/,False,False,False,/
2019-04-15 09:37:17,examples/javascript/defuse-the-bom.html,False,True,False,examples/javascript/defuse-the-bom
2019-10-15 10:42:24,mysql/clauses/order-by,True,False,False,mysql/clauses/order-by

In [5]:
# check top traffic lesson in each program
for program in df.subdomain.unique():
    print(program)
    print(df[df.is_lesson & (df.subdomain == program)].alter_path.value_counts().head(1))

php
content/html-css    262
Name: alter_path, dtype: int64
java
javascript-i/introduction/working-with-data-types-operators-and-variables    7094
Name: alter_path, dtype: int64
fe
content/html-css    2
Name: alter_path, dtype: int64
ds
classification/overview    1785
Name: alter_path, dtype: int64

# Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
- Voyageurs: java-i/introduction-to-java (447) - 3x the average - 22% higher than next cohort

In [6]:
# for cohort in df[df.subdomain == 'java'].cohort.unique():
#     print(cohort)
#     print(df[(df['cohort'] == cohort) & df.is_lesson]\
#           .alter_path.value_counts().head(1))

In [7]:
# df[df.alter_path == 'java-i/introduction-to-java']\
# .groupby('cohort').alter_path.count().sort_values().mean()

# 447 / 154

# Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
- Yes; PHP and Java students make up nearly all of bottom 100

In [8]:
# low_access = list(df.user_id.value_counts().tail(100).index) # identify lowest 30 active
# for user in low_access:
#     print(df[df.user_id == user].subdomain.unique())

# Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
1. Unauthorized access: No, all events have associated user id
2. Web scraping: Lots of .html, .json, and .php requests, so probably
3. Suspicious IP addresses: All events have associated user id, I'd say no

In [9]:
# df.user_id.unique() # all entries have associated user id, so no unauthorized access events logged
# df.groupby('user_id').path.count().sort_values(ascending=False).head(15)

# At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
1. Yes, A user from Teddy (Java) accessed the DS Classification module twice in 2020
2. I don't know, the first DS cohort was mid-2019 and the ability changed in 2019

In [10]:
# create new dataframe for java cohorts in 2020
df_2020_java = df[(df.index.year == 2020) & (df.subdomain == 'java')]
# check if java cohorts in 2020 accessed the DS classification module
df_2020_java[df_2020_java.path.str.contains('classification')].cohort.value_counts()

Staff    1592
Teddy       2
Name: cohort, dtype: int64

In [11]:
# create a mask to oust the cross-access
mask = df_2020_java.path.str.contains('classification') & (df_2020_java.cohort == 'Teddy')
# check
df_2020_java[mask]

,date,time,path,user_id,ip,cohort,start_date,end_date,program_id,program_name,subdomain,is_lesson,html_request,php_request,alter_path
datetime,,,,,,,,,,,,,,,
2020-11-10 10:14:29,2020-11-10,10:14:29,classification/overview,20,104.190.242.242,Teddy,2018-01-08,2018-05-17,2,Java Full Stack Web Development,java,True,False,False,classification/overview
2020-11-10 10:14:29,2020-11-10,10:14:29,classification/scale_features_or_not.svg,20,104.190.242.242,Teddy,2018-01-08,2018-05-17,2,Java Full Stack Web Development,java,False,False,False,classification/scale_features_or_not.svg

# What topics are grads continuing to reference after graduation and into their jobs (for each program)?
- Nearly all of top-referenced lessons are in the Fundamentals module

In [12]:
# # by cohort
# for cohort in df.cohort.unique():
#     # get end date
#     grad_date = df[df.cohort == cohort].end_date.unique()[0]
#     # create mask for post-grad lesson access for the cohort
#     mask = (df.cohort == cohort) & (df.date > df.end_date) & df.is_lesson
#     # add all post-grad path requests to list
#     cohort_access_list = df[mask].alter_path.to_list()
#     # make a dataframe for all post-grad queries
#     grad_df = pd.DataFrame({cohort:cohort_access_list})
#     # check most-queried
#     highest_row = grad_df.value_counts().head(1)
#     # print most-queried (still by cohort)
#     print(highest_row)

# Which lessons are least accessed?
1. There are a lot of paths that seem to be lessons but only have one request- are they deprecated? I don't feel confident choosing any.

In [13]:
# check lowest 50 accessed paths
# df[df.is_lesson].groupby('subdomain').alter_path.value_counts().tail(50)

# Anything else I should be aware of?
- If you're focused on reducing student reference to the curriculum, let me know, I can look into that further.
- If you're focused on identifying potential unauthorized access to the curriculum, let me know, I can look into that further.